.specs-cont {
  width: 1440px;

  margin: 0 auto;
}

.container {
  width: 1039px;
  height: 143px;
  left: 201px;
  top: 1258px;
  margin: 0 auto;
  align-items: center;

  /* padding-top: 284px; */
}
.specs-cont ul {
  justify-content: space-between;
  display: flex;
  align-items: center;
  display: flex;
  list-style: none;
}

.specs-cont li p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 150%;
  /* identical to box height, or 34px */

  letter-spacing: -0.03em;

  color: #818181;
}
